extends  ../_includes/_skeleton

block variables
  - var pageName = 'Services'

block title
  title= pageName

block page
  // Page Header
  include ../_includes/_header

  +breadcrumbs

  // Responsive-tabs
  section.section-60.section-sm-top-90.section-sm-bottom-110
    .container
      .row.justify-content-md-end
        .col-sm-12
          .responsive-tabs.responsive-tabs-default.responsive-tabs-vertical.responsive-tabs-vertical-1(data-custom-hash='true')
            ul.resp-tabs-list
              li: a(href= tabsMenu[0].hash)= tabsMenu[0].title
              li: a(href= tabsMenu[1].hash)= tabsMenu[1].title
              li: a(href= tabsMenu[2].hash)= tabsMenu[2].title
              li: a(href= tabsMenu[3].hash)= tabsMenu[3].title
              li: a(href= tabsMenu[4].hash)= tabsMenu[4].title
              li: a(href= tabsMenu[5].hash)= tabsMenu[5].title
            .resp-tabs-container
              // Tab 1
              .tab
                .box-custom-variant-1
                  .box-header
                    h3= tabsMenu[0].title

                  .box-content
                    a.btn.btn-primary(href='#') Order Now
                    address.contact-info-inline
                      p or call us
                      a.link.link-md(href='tel:#') 1-800-1234-567
                p.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .offset-top-10
                  .inset-md-left-24
                    ul.list-marked-variant-2
                      li Beatae vitae dicta sunt
                      li Nemo enim ipsam
                      li Voluptatem quia voluptas
                      li Sit aspernatur aut
                      li Odit aut fugit
                      li Sed quia consequuntur
                      li Magni dolores eos
                      li Qui ratione voluptatem
                      li Sequi nesciunt

                p.
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

              // Tab 2
              .tab
                .box-custom-variant-1
                  .box-header
                    h3= tabsMenu[1].title

                  .box-content
                    a.btn.btn-primary(href='#') Order Now
                    address.contact-info-inline
                      p or call us
                      a.link.link-md(href='tel:#') 1-800-1234-567
                p.
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                .offset-top-10
                  .inset-md-left-24
                    ul.list-marked-variant-2
                      li Neque porro quisquam
                      li Beatae vitae dicta sunt
                      li Nemo enim ipsam
                      li Voluptatem quia voluptas
                      li Sit aspernatur aut
                      li Odit aut fugit
                      li Sed quia consequuntur
                      li Magni dolores eos
                      li Qui ratione voluptatem
                      li Sequi nesciunt

                p.
                  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

              // Tab 3
              .tab
                .box-custom-variant-1
                  .box-header
                    h3= tabsMenu[2].title

                  .box-content
                    a.btn.btn-primary(href='#') order parts
                    address.contact-info-inline
                      p or call us
                      a.link.link-md(href='tel:#') 1-800-1234-567
                p.
                  Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                p.
                  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                p.
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.

              // Tab 4
              .tab
                .box-custom-variant-1
                  .box-header
                    h3= tabsMenu[3].title

                  .box-content
                    a.btn.btn-primary(href='#') Order Now
                    address.contact-info-inline
                      p or call us
                      a.link.link-md(href='tel:#') 1-800-1234-567
                p.
                  Ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
                .offset-top-10
                  .inset-md-left-24
                    ul.list-marked-variant-2
                      li Dolore magnam aliquam
                      li Neque porro quisquam
                      li Beatae vitae dicta sunt
                      li Nemo enim ipsam
                      li Voluptatem quia voluptas
                      li Sit aspernatur aut
                      li Odit aut fugit
                      li Sed quia consequuntur
                      li Magni dolores eos
                      li Qui ratione voluptatem
                      li Sequi nesciunt

                p.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              // Tab 5
              .tab
                .box-custom-variant-1
                  .box-header
                    h3= tabsMenu[4].title

                  .box-content
                    a.btn.btn-primary(href='#') Order Now
                    address.contact-info-inline
                      p or call us
                      a.link.link-md(href='tel:#') 1-800-1234-567
                p.
                  Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.
                .offset-top-10
                  .inset-md-left-24
                    ul.list-marked-variant-2
                      li Quaerat voluptatem
                      li Ut enim ad minima
                      li Dolore magnam aliquam
                      li Neque porro quisquam
                      li Beatae vitae dicta sunt
                      li Nemo enim ipsam
                      li Voluptatem quia voluptas
                      li Sit aspernatur aut
                      li Odit aut fugit
                      li Sed quia consequuntur
                      li Magni dolores eos
                      li Qui ratione voluptatem
                      li Sequi nesciunt

                p.
                  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

              // Tab 6
              .tab
                .box-custom-variant-1
                  .box-header
                    h3= tabsMenu[5].title

                  .box-content
                    a.btn.btn-primary(href='#') Order Now
                    address.contact-info-inline
                      p or call us
                      a.link.link-md(href='tel:#') 1-800-1234-567
                p.
                  Eos qui ratione voluptatem sequi nesciunt lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .offset-top-10
                  .inset-md-left-24
                    ul.list-marked-variant-2
                      li Quis nostrum exercitationem
                      li Quaerat voluptatem
                      li Ut enim ad minima
                      li Dolore magnam aliquam
                      li Neque porro quisquam
                      li Beatae vitae dicta sunt

                p.
                  ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                p.
                  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

        .col-md-8.col-lg-9.offset-top-55.offset-sm-top-88
          .row.g-0
            // Owl Carousel
            .owl-carousel.owl-carousel-centered(data-autoplay="true" data-items='1', data-md-items='3', data-lg-items='3', data-xl-items='4', data-stage-padding='0', data-loop='true', data-margin='30', data-sm-margin='73', data-nav='false', data-dots='true', data-sm-dots-each='2')
              .item
                a.link-image.link-image-variant-2(href='#')
                  +png('clients-1-200x90')
              .item
                a.link-image.link-image-variant-2(href='#')
                  +png('clients-2-200x90')
              .item
                a.link-image.link-image-variant-2(href='#')
                  +png('clients-3-200x90')
              .item
                a.link-image.link-image-variant-2(href='#')
                  +png('clients-4-200x90')
              .item
                a.link-image.link-image-variant-2(href='#')
                  +png('clients-5-200x90')
              .item
                a.link-image.link-image-variant-2(href='#')
                  +png('clients-6-200x90')

          .row.offset-top-55.offset-sm-top-88
            .col-sm-12
              h5 Get In Touch
              hr
              // RD Mailform
              form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .row
                  .col-lg-6
                    .form-wrap
                      label.form-label-outside(for="contact-first-name") First name
                      input#contact-first-name.form-input(type="text" name="first-name" data-constraints="@Required")
                  .col-lg-6.offset-top-18.offset-md-top-0
                    .form-wrap
                      label.form-label-outside(for="contact-last-name") Last name
                      input#contact-last-name.form-input(type="text" name="last-name" data-constraints="@Required")
                  .col-lg-6.offset-top-18
                    .form-wrap
                      label.form-label-outside(for="contact-email") E-mail
                      input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                  .col-lg-6.offset-top-18
                    .form-wrap
                      label.form-label-outside(for="contact-phone") Phone
                      input#contact-phone.form-input(type="text" name="phone" data-constraints="@Required @Numeric")
                  .col-sm-12.offset-top-18
                    .form-wrap
                      label.form-label-outside(for="contact-message") Message
                      textarea#contact-message.form-input(name="message" data-constraints="@Required")
                  .col-sm-12.offset-top-30
                    button(type="submit").btn.btn-primary Send Message
  ='\n'


  // Page Footer
  include ../_includes/_footer