//-
//- Common usage mixins
//- --------------------------------------------------

//- Jpg image
mixin jpg(name)
	- var size = name.split('-').pop().split('x');
	img(src='images/' + name + '.jpg', alt='', width=size[0], height=size[1])

//- Png image
mixin png(name)
	- var size = name.split('-').pop().split('x');
	img(src='images/' + name + '.png', alt='', width=size[0], height=size[1])

//- Image
	@param {string} name
	@param {object} options
	@param {boolean} options.retina
mixin img( name, options )
	-
		var
			isExt = /(.jpg|.png|.gif|.svg)$/i.test( name ),
			isLink = /^(\/\/|http:\/\/|https:\/\/)/.test( name ),
			size = name.match( /(\d+)x(\d+)/i );

		if ( options && options.retina && size && size.length ) {
			size[1] = ~~(size[1]/2);
			size[2] = ~~(size[2]/2);
		}

		if ( !isLink && !isExt ) {
			name += '.jpg';
		}

		if ( !isLink ) {
			name = 'images/'+ name;
		}

	img( src= name, alt='', width= size ? size[1] : null, height= size ? size[2] : null )&attributes( attributes )

//- Logo
mixin logo
	// Logo
	.logo&attributes( attributes )
		a.logo-link( href= 'index.html' )
			+img( logo.default, {retina: true} ).logo-image-default( alt= logo.name )
			+img( logo.inverse, {retina: true} ).logo-image-inverse( alt= logo.name )


//-
//- Specific usage mixins
//- --------------------------------------------------

//- Breadcrumbs
	@param {Array}  [path] - other navigation path
	@example +breadcrumbs([ { title:'About Us', link:'about-us.html' }, { title:'Team member' } ])
mixin breadcrumbs( path )
	-
		if ( !path ) {
			if ( breadcrumbs && breadcrumbs.length ) path = breadcrumbs;
			else path = [{ title: pageName }];
		}

	// Breadcrumbs
	section.section-40.section-lg-64.bg-light-05
		.breadcrumbs-wrap
			.container.text-center
				.wrap-sm-justify-horizontal
					.text-md-start
						h1.breadcrumbs-custom-title= path[ path.length - 1 ].title
					.offset-top-22.offset-md-top-0.text-md-end
						if ( path[0].title.toLowerCase() !== 'home' )
							ul.breadcrumbs-custom
								li: a( href='index.html' ) Home
								- for ( var i = 0; i < path.length; i++ )
									if ( i === path.length - 1 )
										li.active= path[i].title
									else
										li: a( href= path[i].link )= path[i].title

//- Main Navigation
mixin navigation( menu, type )
	if(!type)
		ul.rd-navbar-nav&attributes( attributes )
			each item in menu
				li.rd-nav-item( class= {active: item.active} )
					a.rd-nav-link( href= item.link )= item.title
					if(item.dropdown)
						+navigation( item.dropdown, 'dropdown' )
					if(item.megamenu)
						+navigation( item.megamenu, 'megamenu' )

	else if(type === 'dropdown')
		ul.rd-menu.rd-navbar-dropdown
			each item in menu
				li.rd-dropdown-item( class= {active: item.active} )
					a.rd-dropdown-link( href= item.link )= item.title
					if(item.dropdown)
						+navigation( item.dropdown, 'dropdown' )

	else if(type === 'megamenu')
		ul.rd-menu.rd-navbar-megamenu
			each item in menu
				li.rd-megamenu-item
					if (item instanceof Array)
						+navigation( item, 'column' )
					else
						+navigation( item, 'block' )

	else if(type === 'column')
		each item in menu
			+navigation( item, 'block' )

	else if(type === 'block')
		if (menu.title && menu.link)
			h6.rd-megamenu-title: a( href= menu.link )= menu.title
		else if (menu.title)
			h6.rd-megamenu-title= menu.title
		if (menu.list)
			+navigation( menu.list, 'list' )

	else if(type === 'list')
		ul.rd-megamenu-list.list-marked-variant-1
			each item in menu
				li.rd-megamenu-list-item
					a.rd-megamenu-list-link( href= item.link )= item.title

//- Table
mixin table(classes)
	.table-mobile
		table.table(class=classes)
			thead
				tr
					th #
					th First Name
					th Last Name
					th Username
			tbody
				tr
					td 1
					td Timothy
					td Richards
					td @timothyrichards
				tr
					td 2
					td Raymond
					td Hawkins
					td @raymondhawkins
				tr
					td 3
					td Bruce
					td Brooks
					td @brucebrooks
				tr
					td 4
					td Jessica
					td Chavez
					td @jessicachavez

//- Thumbnail
mixin thumbnail(number, image, original, text)
	- var originalSize = original.split('-').pop()
	.thumbnail(class='thumbnail-variant-' + number)
		figure
			+jpg(image)
		a.thumbnail-original-link(href='images/' + original + '.jpg', data-lightgallery="item")
		.caption
			a.thumbnail-link(href='#')
			.caption-text
				p=text

//- Thumbnail 1
mixin thumbnail-1(number, image, original, header, text)
	- var originalSize = original.split('-').pop()
	.thumbnail(class='thumbnail-variant-' + number)
		figure
			+jpg(image)
		a.thumbnail-original-link(href='images/' + original + '.jpg', data-lightgallery='item')
		.caption
			a.thumbnail-link(href='#')
			.caption-text
				h6=header
				p=text

//- Thumbnail flickr
mixin flickr-item
	.flickr-item(data-type="flickr-item")
		a.thumbnail.thumbnail-variant-5(data-image_b="href", data-lightgallery ="item")
			figure
				img(src='images/_blank.png', data-image_z="src" data-title="alt", width='165', height='165', alt='')
			.thumbnail-overlay

//- Post
mixin post(obj)
	article.post(class=['post-variant-' + obj.type, {'post-mod-1': obj.mod !== undefined} ])
		figure.post-image
			a.post-image-link( href='blog-post.html' )
				+jpg(obj.image)
		.post-body
			.post-header
				h6: a(href='blog-post.html')=obj.header
			.post-meta
				time(datetime='2023-03-05') May 26, 2023 at 10:34 am
			.post-text
				p=obj.text
			.post-footer
				ul.list-tags-variant-1
					each tag in obj.tags
						li: a(href='#')=tag

//- Post 1
mixin post-1(obj)
	article.post(class='post-variant-' + obj.type)
		figure.post-image
			+jpg(obj.image)
		.post-body
			.post-header
				h5: a(href='blog-post.html')=obj.header
			.post-meta
				time(datetime='2023-03-05') May 26, 2023 at 10:34 am
			.post-text
				p=obj.text
			.post-footer
				a.btn.btn-sm.btn-primary.btn-no-shadow(href='blog-post.html') continue reading
				ul.list-tags-variant-1
					each tag in obj.tags
						li: a(href='#')=tag


//- Post 2
mixin post-2(obj)
	li.post-wrap
		.post-wrap-header
			article.post-wrap-meta
				time(datetime='2023-05-06') May 6
				figure
					+jpg(obj.metaImage)
				.link: a(href='#')=obj.metaName
		.post-wrap-body
			article.post(class='post-variant-' + obj.type)
				figure.post-image
					+jpg(obj.image)
				.post-body
					.post-header
						h6: a(href='blog-post.html')=obj.header
					.post-text
						p=obj.text
					.post-footer
						ul.list-tags-variant-1
							each tag in obj.tags
								li: a(href='#')=tag

//- Pagination
mixin pagination
	ul.pagination-custom
		li.disabled: a(href='#'): span.sr-only Prev
		li.active: a(href='#') 1
		li: a(href='#') 2
		li: a(href='#') 3
		li: a(href='#') 4
		li: a(href='#'): span.sr-only Next
